# IO Operations and Statistical Method

In [182]:
import matplotlib.pyplot as plt
import numpy as np
np.random.seed(0)
import pandas as pd

In [183]:
def df_info(df: pd.DataFrame) -> None:
    return df.head(n=20).style

## File Operations

In [184]:
cols = [
    'Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
    'Parch', 'Fare', 'Cabin', 'Embarked'
]

df = pd.read_csv("../data/titanic/dataset.csv")
print(df.columns)

df = pd.DataFrame(df[cols], index=df["PassengerId"])
df.index.name = 'ID'

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [185]:
df_info(df)

In [186]:
df.to_csv("../data/titanic/modified_dataset.csv")

### Statistical Functions

In [187]:
print(df["Age"].cov(s2))

-5.919861369328288

In [188]:
print(df["Age"].corr(s2))

-0.9803265963228514

In [192]:
df_info(df.describe())

In [190]:
df.agg(["min", "max", "median", "mean", "var", "std"])

        Survived    Pclass         Age     SibSp     Parch         Fare
min     0.000000  1.000000    0.420000  0.000000  0.000000     0.000000
max     1.000000  3.000000   80.000000  8.000000  6.000000   512.329200
median  0.000000  3.000000   28.000000  0.000000  0.000000    14.454200
mean    0.384270  2.307865   29.709916  0.522472  0.382022    32.232246
var     0.236873  0.699263  211.232130  1.217155  0.650295  2471.513364
std     0.486696  0.836220   14.533827  1.103247  0.806409    49.714317

In [191]:
print(df["Survived"].value_counts())

0.0    548
1.0    342
Name: Survived, dtype: int64