# IO Operations and Statistical Method

In [66]:
import matplotlib.pyplot as plt
import numpy as np
np.random.seed(0)
import pandas as pd

In [67]:
def df_info(df: pd.DataFrame) -> None:
    return df.head(n=20).style

## File Operations

In [68]:
cols = [
    'Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
    'Parch', 'Fare', 'Cabin', 'Embarked'
]

df = pd.read_csv("../data/titanic/dataset.csv")
print(df.columns)

df = pd.DataFrame(df[cols], index=df["PassengerId"])
df.index.name = 'ID'

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [69]:
df_info(df)

In [70]:
df.iloc[:100].to_csv("../data/titanic/modified_dataset.csv")

In [71]:
df.iloc[:100].to_excel("../data/titanic/modified_dataset.xlsx")

In [72]:
df.iloc[:100].to_json("../data/titanic/modified_dataset.json")

In [73]:
df.iloc[:100].to_markdown("../data/titanic/modified_dataset.md")

In [74]:
df = pd.read_excel("../data/titanic/modified_dataset.xlsx")

df_info(df)

### Statistical Functions

In [75]:
print(df["Age"].cov(df["Survived"]))

-0.4674475524475526

In [76]:
print(df["Age"].corr(df["Survived"]))

-0.0621681056311732

In [77]:
df_info(df.describe())

In [78]:
df.agg(["min", "max", "median", "mean", "var", "std"])

,ID,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
min,1.000000,0.000000,1.000000,female,0.830000,0.000000,0.000000,7.225000
max,100.000000,1.000000,3.000000,male,71.000000,5.000000,5.000000,263.000000
median,50.500000,0.000000,3.000000,NaN,26.500000,0.000000,0.000000,15.675000
mean,50.500000,0.410000,2.400000,NaN,27.542692,0.720000,0.440000,29.524083
var,841.666667,0.244343,0.666667,NaN,233.053854,1.395556,0.935758,1678.492615
std,29.011492,0.494311,0.816497,NaN,15.266101,1.181336,0.967346,40.969411

In [79]:
print(df["Survived"].value_counts())

0    59
1    41
Name: Survived, dtype: int64